*, body {
    font-family: arial;
    font-size: 16px;
}

h1 {
    font-size: 5em;
    text-align: center;
    margin-top: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr;
}

.board {
    display: grid;
    height: 400px;
    width: 400px;
    border: 2px solid black;
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cell {
    display: flex;
    border: 2px solid black;
    font-size: 120px;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.btn-container {
    display: flex;
    grid-area: 2 / 2 / 3 / 3;
    margin-top: 20px;
    justify-content: space-evenly;
}
