body {
    font-family: Roboto;
    font-size: 16px;
}

h1 {
    font-size: 3rem;
}

header {
    margin-top: 5vh;
    margin-bottom: 3vh;
    text-align: center;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

label {
    align-self: flex-start;
    font-size: 1.1rem;
}

input {
    width: 92%;
    height: 5vh;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 16px;
    padding: 1rem;
    font-size: 1.5rem;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);
}

button {
    width: 100%;
    height: 10vh;
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);
}

button:hover {
    cursor: pointer;
    background: #e0e0e0;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.5);
}

.name-menu-multi, 
.name-menu, 
.role-menu, 
#restart-btn, 
#new-game-btn {
    display: none;
}

#restart-btn, #new-game-btn {
    width: 20%;
}

.main-menu {
    margin: 0 auto;
    width: 50%;
}

.name-menu-multi, .name-menu, .role-menu {
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.player-info {
    margin: 1rem auto;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2rem;
}

.board {
    display: none;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    max-width: 450px;
    margin: 0 auto;
}

.grid-item {
    display: flex;
    border: 4px solid black;
    font-size: 100px;
    justify-content: center;
    align-items: center;
}

.grid-item[data-index="0"],
.grid-item[data-index="2"],
.grid-item[data-index="6"],
.grid-item[data-index="8"] {
    border: none;
}

.grid-item[data-index="1"],
.grid-item[data-index="7"] {
    border-top: none;
    border-bottom: none;
}

.grid-item[data-index="3"],
.grid-item[data-index="5"] {
    border-left: none;
    border-right: none;
}

#gg-message {
    font-size: 1.1rem;
    padding: 8px 0;
}